@use "sass:color";
@use "components/colors" as *;
@use "components/notice";
@use "components/button";
@use "components/fonts";
@use "bootstrap/scss/bootstrap-reboot";
@use "bootstrap/scss/bootstrap-grid";
@use "layout/header";
@use "layout/sidebar-nav";
@use "layout/forms";


:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent: #{$accent};
    --dark: #{$dark};
    --gray: #{$gray};
    --light-bg: #{$light-bg};
    --white: #{$white};
    --link-color: var(--primary);
    --link-hover-color: #{color.adjust($primary, $lightness: 15%)};
    --sidebar-width: 200px;
}

body {
    font-size: 18px;
    line-height: 1.3;
    color: var(--dark);
    background-color: var(--light-bg);
    font-family: "Inter", sans-serif;

    &.has-sidebar {
        padding-left: var(--sidebar-width);
    }
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover-color);
    }
}

svg {
    max-width: 100%;
}

.page-header {
    border-bottom: 1px solid var(--gray);
    padding-block: 10px;

    h1 {
        color: var(--primary);
        font-size: 40px;
        margin: 0;
    }
}

.section-label {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 500;

    &--large {
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
    }

    &--small {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.content-centered {
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 250px;
}
