@use "@picocss/pico/scss/pico" with (
    $enable-semantic-container: false,
  $enable-classes: true,
  $modules: (
   // Theme
    "themes/default": true,

    // Layout
    "layout/document": false,
    "layout/landmarks": true,
    "layout/container": true,
    "layout/section": false,
    "layout/grid": false,
    "layout/overflow-auto": false,

    // Content
    "content/link": true,
    "content/typography": true,
    "content/embedded": false,
    "content/button": true,
    "content/table": true,
    "content/code": false,
    "content/figure": false,
    "content/misc": false,

    // Forms
    "forms/basics": false,
    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,

    // Components
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/group": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": false,

    // Utilities
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  )
);

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
